<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/284702284.jpg?k=54d6a61d9c65c341e7246f681a2ec8a2e35045c9d62ef14fa568c1815f48465b&o=" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Quadraple Room</h5>
          <p>It has Air conditioning
            and Flat-screen TV.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/283116113.jpg?k=74b03fe03d82f1f9aaeed2c0ae070ecb9d4b801f51b21253192fa5279233cc14&o=" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Quadraple Room</h5>
          <p>Comfy beds, 8.9 – Based on 195 reviews.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class= "img-height" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/317222417.jpg?k=95af971ab6793df520dace406ce5c84ce0ed97b592274f015360d076b8f68196&o=" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Quadraple Room</h5>
          <p>This room has free wifi.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img  class= "img-height" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/283114799.jpg?k=b4aa2e084f005dc46d934d0b15d5bbe8c881f49691510cea86c20431100b3131&o=" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Quadraple Room</h5>
          <p>Rooms are 33 square yards..</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
