<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-1 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Hotel Mahal</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/home" class="nav-link active" aria-current="page">Rooms</a></li>
        <li class="nav-item"><a routerLink="/comments" class="nav-link">Services</a></li>
        <li class="nav-item"><a routerLink="/products" class="nav-link">Complimentary Products</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Amneties</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact US</a></li>
        <li class="nav-item"><a routerLink="/reservationcomp" class="nav-link">Reservation</a></li>
      </ul>
    </header>
  </div>
