<p>child2 works!</p>
<p> variable from parent: {{aa}}</p>
<!-- <table class="table table-bordered table-striped">
<thead>
    <tr>
    <th> Eid</th>
    <th>Name</th>
    <th>Sal</th>
    <th>Gender</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let emp of employeesNew">
      <td>{{emp.eId}}</td>
      <td>{{emp.name | addtitle: emp.gender}}</td>
      <td>{{emp.sal}}</td>
      <td>{{emp.gender}}</td> 
    </tr>
</tbody>

</table> -->

<table class="table table-bordered table-striped">
  <thead>
      <tr>
          <th>id</th>
          <th>name</th>
          <th>email</th>
          <th>phone</th>
          <th>city</th>
          <th>company</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
     <!-- <tr *ngFor="let employee of employees">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.address.city}}</td>
          <td>{{user.company.name}}</td>
          <td>
              <button class="btn btn-danger" (click)="delete(user.id)">DEL</button>
          </td>
      </tr> -->
  </tbody>
</table>