<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{prodInformation.image}}" alt="Card image cap">
    <div class="card-body">
      <!-- <h5 class="card-title">{{prodInformation.name}}</h5> -->
      <p class="card-text">{{prodInformation.id}}</p>
      <p class="card-text">{{prodInformation.title}}</p>
      <p class="card-text">{{prodInformation.description}}</p>
      <p class="card-text"> {{prodInformation.price}}</p>
      </div>
{{prodInformation|json}}
{{prodInformation.title}}